

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Width and height of the scroll bar */
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #727272;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



.loginMain{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}


.loginContainer{
    width: 400px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 20px;
}

.loginTopCon{
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.loginTopCon img{
    width: 50%;
    height: auto;
}

.loginContainer h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #322E7F;
    font-weight: bold;
}
.mainImageContainer{
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.mainlogincontainer{
    width: 500px;
    padding: 20px;
}
.mainImageContainer img{
    height: 100%;
    width: auto;
}
.formElement{
    margin: 10px 0 5px 0;
}
.formElement label{
    width: 100%;
}
.formElement select{
    width: 100%;
    padding: 1% 3% 1% 3%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px 0 0 0;
}

.formElement input{
    width: 100%;
    padding: 1% 3% 1% 3%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px 0 0 0;
}
.formElement button{
    background-color: #322E7F;
    color: white;
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 10px;
}
.formButton{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0 0 0;
}
.formElement p{
    color: gray;
    font-size: 1rem;
    text-align: center;
}
.addContainer{
    width: 400px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 20px;
    display: flex;
}
.addform {
    margin: 10px 0 5px 0;
}
.addform label{
    width: 100%;
}


/* nav bar */
/*main*/
.webMainCon{
    position: relative;
    width: fit-content;
    height: 100vh;
    overflow-y: hidden;
    justify-content: space-between;
    align-items:normal;
    display: flex;
    flex-direction: column;
}

/*nav bar user details*/
.cnp01{
    width: 100%;
    background: rgb(0, 75, 145);
    padding: 20px;
    height: fit-content;
    min-height: 150px;
}

.cnp_sub{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cnp_txt_cn h5{
    color: white;
    font-weight: normal;
    font-size: .8rem;
}
.cnp_txt_cn h6{
    color: rgb(231, 231, 231);
    font-weight: normal;
    font-size: .7rem;
    text-align: right;
}

.cnp01 button{
    background-color: white;
    border-radius: 20px;
    color: black;
    margin: 5px 0;
}


.dashboardContainer{
    width: 100vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.contentContainer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    min-width: 700px;
}

.navbarContainer{
    max-width: 250px;
    height: 100%;
    max-height: 100%;
    background-color: white;
    border-right: 2px solid rgb(212, 212, 212);
}

.navContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.navbar h1{
    color: white;
}
.logoContainer{
    width: 100%;
    padding: 20px 20px 20px 20px;
}
.logoContainer img{
    width: 30%;
}
.navelcon{
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    height: 63%;
    min-height: 200px;
}
.navEle{
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
}
.navEle a{
    color: black;
}
.navEle:hover{
    background: rgb(147, 147, 147);
    cursor: pointer;
}

.selected{
    background: rgb(147, 147, 147);
}

.testContainer{
    border: 1px solid green;
    height: 100vh;
}