

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Width and height of the scroll bar */
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #727272;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



.loginMain{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}


.loginContainer{
    width: 400px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 20px;
}

.loginTopCon{
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.loginTopCon img{
    width: 50%;
    height: auto;
}

.loginContainer h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #322E7F;
    font-weight: bold;
}
.mainImageContainer{
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.mainlogincontainer{
    width: 500px;
    padding: 20px;
}
.mainImageContainer img{
    height: 100%;
    width: auto;
}
.formElement{
    margin: 10px 0 5px 0;
}
.formElement label{
    width: 100%;
}
.formElement select{
    width: 100%;
    padding: 1% 3% 1% 3%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px 0 0 0;
}

.formElement input{
    width: 100%;
    padding: 1% 3% 1% 3%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px 0 0 0;
}
.formElement button{
    background-color: #322E7F;
    color: white;
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 10px;
}
.formButton{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0 0 0;
}
.formElement p{
    color: gray;
    font-size: 1rem;
    text-align: center;
}
.addContainer{
    width: 400px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 20px;
    display: flex;
}
.addform {
    margin: 10px 0 5px 0;
}
.addform label{
    width: 100%;
}


/* nav bar */
/*main*/
.webMainCon{
    position: relative;
    width: fit-content;
    height: 100vh;
    overflow-y: hidden;
    justify-content: space-between;
    align-items:normal;
    display: flex;
    flex-direction: column;
}

/*nav bar user details*/
.cnp01{
    width: 100%;
    background: rgb(0, 75, 145);
    padding: 20px;
    height: fit-content;
    min-height: 150px;
}

.cnp_sub{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cnp_txt_cn h5{
    color: white;
    font-weight: normal;
    font-size: .8rem;
}
.cnp_txt_cn h6{
    color: rgb(231, 231, 231);
    font-weight: normal;
    font-size: .7rem;
    text-align: right;
}

.cnp01 button{
    background-color: white;
    border-radius: 20px;
    color: black;
    margin: 5px 0;
}


.dashboardContainer{
    width: 100vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.contentContainer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    min-width: 700px;
}

.navbarContainer{
    max-width: 250px;
    height: 100%;
    max-height: 100%;
    background-color: white;
    border-right: 2px solid rgb(212, 212, 212);
}

.navContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.navbar h1{
    color: white;
}
.logoContainer{
    width: 100%;
    padding: 20px 20px 20px 20px;
}
.logoContainer img{
    height: 100%;
    width: 100%;
}
.navelcon{
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    height: 63%;
    min-height: 200px;
}
.navEle{
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
}
.navEle a{
    color: black;
}
.navEle:hover{
    background: rgb(147, 147, 147);
    cursor: pointer;
}

.selected{
    background: rgb(147, 147, 147);
}

.testContainer{
    border: 1px solid green;
    height: 100vh;
}

.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;    
}
.wrapper {
    
}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
/*PERSONAL*/
.personal .title{        
    background: #78CFBF;    
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
.personal .content:after{	
	border-top-color: #82DACA;	
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content:after{	
	border-top-color: #53CFE9;	
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{	
	border-top-color: #EB6379;	
}
.business .pt-footer:after {	
	border-top-color: #FFFFFF;	
}